﻿<div class="col-md-8 panel panel-default">
    <div class="row panel-body">
        <div class="col-md-2 marginBottom">
            <img src="{{thumbnail}}" class="img-responsive" alt="Poster">
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 marginBottom titleClass">{{title}}</div>
            </div>
            <div class="row">
                <div class="col-md-12 marginBottom">
                    {{year}} {{runtime}} {{rating}}
                </div>
            </div>
            {{cast}} {{synopsis}}
        </div>
    </div>
</div>
