﻿<div class="col-md-12 panel panel-default bgGrey">
    <div class="row panel-body">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2 marginBottom">
                    <img src="{{thumbnail}}" class="img-responsive" alt="Poster">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12 marginBottom titleClass">{{title}}</div>
                    </div>
                    {{genre}}
                    <div class="row">
                        <div class="col-md-12 marginBottom fontGreen">
                            {{year}} {{runtime}} {{rating}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{synopsis}} {{director}} {{cast}} {{similarMovies}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 marginBottom titleClass">Latest Reviews</div>
            </div>
            {{reviews}}
        </div>
    </div>
</div>
