.movieClass :hover {
	cursor: pointer;
}

.titleClass {
	font-size: 20px;
	font-style: bold;
}

.reviewClass {
	margin-top: 5px;
	color: #f59c00;
}

.marginBottom {
	margin-bottom: 10px;
}

.fontGreen {
	color: green;
}

.bgGrey {
	background-color: #f1f1f1;
}

a {
	text-decoration: underline;
}